<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css"
      integrity="sha256-46r060N2LrChLLb5zowXQ72/iKKNiw/lAmygmHExk/o="
      crossorigin="anonymous"
    />

    <title>Google-oAuth2.0</title>

    <style>
      p {
        margin: 10px 0 !important;
      }

      .login-container {
        width: 400px;
        margin-top: 50px;
        text-align: center;
      }

      .fa-small {
        font-size: 16px !important;
      }
    </style>
  </head>

  <body>
    <div class="container login-container">
      <div class="card">
        <div class="card-content">
          <h3><i class="fab fa-google"></i> oogle OAuth 2.0</h3>
          <div class="section">
            <p class="lead">Stipica Klepic & Nikola Butigan</p>
          </div>
          <div class="divider"></div>
          <div class="section">
            <a href="/auth/google" class="btn red darken-1">
              <i class="fab fa-google left"></i> Prijava putem Google-a
            </a>
          </div>
        </div>
      </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </body>
</html>
